<div class="container">
  <!--<div class="panel-group">-->
    <!--<div class="row">-->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Home</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a routerLink="/users" class="list-group-item">Users list</a>
            <!--<a href="/scan" class="list-group-item">Scan Website</a>-->
          </div>
        </div>
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
